---
import paint from "../../public/paint.png";
import portrait from "../../public/main-portrait.jpg";
---

<div class="relative mx-12 flex flex-col items-center justify-center">
  <h1 class="text-xl">
    Ellie's <span class="font-bold">Universe</span>
  </h1>
  <div class="relative">
    <p id="anim-p" class="p-6 text-large">
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ex maiores
      doloribus temporibus aspernatur quos beatae, voluptatibus quidem eos
      libero consequatur accusantium ipsam vel! Labore voluptatum quo fuga, cum
      repudiandae saepe?
      <br />
      <br />
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores qui quod ad
      nostrum id reprehenderit, cupiditate quasi doloribus tenetur! Quidem ullam
      temporibus laudantium voluptatibus ipsa aliquid qui alias facere explicabo.
      <br />
      <br />
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium porro
      iste dolores delectus provident consequatur quae recusandae error neque. Nostrum,
      provident! Architecto at placeat, ipsam deserunt totam facere nostrum quos?
    </p>
  </div>
</div>
