---
import { Navbar } from "../components/Navbar";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
  </head>
  <body>
    <main>
      <Navbar client:load />
      <slot />
    </main>
  </body>
</html>
